#toast {
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 9999;
}

.toast {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    padding: 20px 0;
    min-width: 400px;
    max-width: 400px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    animation: slideInLeft ease 0.3s, fadeOut linear 1s 3s; /* đã thêm delay */
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px)); /* sửa clac -> calc */
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

/* SUCCESS */
.toast--success {
    border-color: rgb(47, 210, 69);
}
.toast--success .toast__icon {
    color: rgb(47, 210, 69);
}

/* INFO */
.toast--info {
    border-color: rgb(53, 126, 234);
}
.toast--info .toast__icon {
    color: rgb(53, 126, 234);
}

/* WARNING */
.toast--warning {
    border-color: coral;
}
.toast--warning .toast__icon {
    color: coral;
}

/* ERROR */
.toast--error {
    border-color: red;
}
.toast--error .toast__icon {
    color: red;
}

/* Khoảng cách giữa các toast */
.toast + .toast {
    margin-top: 24px;
}

/* Nội dung toast */
.toast__icon {
    font-size: 24px;
    padding: 0 16px;
}
.toast__close {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    padding: 0 16px;
}
.toast__close:hover {
    color: #000;
}

.toast__body {
    flex: 1;
}

.toast__title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.toast__msg {
    font-size: 14px;
    color: #888;
    margin-top: 4px;
    line-height: 1.5;
}
